<section class="frow" id="annual-wellness-form">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        <h2 class="text-center m-auto">ANNUAL WELLNESS FORM</h2>
      </div>

      <table class="striped width-100">
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <tbody>
          <tr>
            <td>Current list of patient's providers and suppliers</td>
            <td>Name</td>
            <td>Speciality</td>
            <td colspan="3">Reason</td>
          </tr>
          <tr>
            <td></td>
            <td>sample name</td>
            <td>sample Speciality</td>
            <td colspan="3">sample reason</td>
          </tr>
          <tr>
            <td>
              <div class="frow justify-start gutters">
                <span>Special Diet</span>
              </div>
              <div class="cb">
                <label for="name">YES</label>
              </div>
              <div class="cb">
                <label for="name">NO</label>
              </div>
            </td>
            <td>Description:</td>
            <td>
              <div class="cb">
                <label for="name">Diabetic</label>
              </div>
            </td>
            <td colspan="3">
              <div class="cb">
                <label for="name">Dash</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Cognitive Impairment</td>
            <td>
              <div class="cb">
                <label for="name">None</label>
              </div>
            </td>
            <td>
              <div class="cb">
                <label for="name">Dementia</label>
              </div>
            </td>
            <td colspan="3">
              <div class="cb">
                <label for="name">Mild Memory Loss</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>List of medication, supplement and vitamins</td>
            <td>Please see attach</td>
          </tr>
          <tr>
            <td>Depression screening</td>
            <td>Felt depressed/hopeless over the last 2 weeks</td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>
          <tr>
            <td></td>
            <td>
              Little or no pleasure in doing thing over the last 2 weeks
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>

          <tr>
            <td>Hearing loss screening</td>
            <td>
              Trouble hearing television or radio when others do not
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>
          <tr>
            <td></td>
            <td>Strain or struggle to hear/understand conversations</td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>

          <tr>
            <td>Home safety screening</td>
            <td>
              Throw rugs, poor lighting or slippery bathtub/shower at home
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>
          <tr>
            <td></td>
            <td>
              Lack of grab bars, bathrooms, handrails on stairs and steps at
              home
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>

          <tr>
            <td>Fall risk screening</td>
            <td>
              Unsteady or take longer han 30 seconds to get up and go
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>

          <tr>
            <td>Advance care planning</td>
            <td>
              Patient consent: I consent to discuss end-of- life issues with my
              healthcare provider
            </td>
            <td>PATIENT SIGNATURE</td>
            <td colspan="2"></td>
            <td>DATE</td>
          </tr>

          <tr>
            <td></td>
            <td>Patient has already executed an advance directive</td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>
              If no, patient was given an opportunity to execute an Advance
              Directive
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>
              Physician statement: “Patient has the ability to prepare an
              Advance Directive.”
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>
              Physician has completed a Order of Life-Sustaining Treatment, or
              similardocument of another name, reflecting the patient’s wishes
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>Physician SIGNATURE</td>
            <td></td>
            <td colspan="2"></td>
            <td>DATE</td>
          </tr>
        </tbody>
      </table>
      <div class="frow justify-start">
        <div class="col-1-3">
          <span>Preventive screening (frequency)</span>
        </div>
        <div class="col-1-3">
          <span>Coverage</span>
        </div>
        <div class="col-1-3">
          <span>Previously Screening If YES (When)</span>
        </div>
        <div class="frow justify-start">
          <span>Screened Schedule (5-10 Years)</span>
        </div>
        <table class="striped width-100">
          <col width="20%" />
          <col width="20%" />
          <col width="20%" />
          <col width="20%" />
          <col width="20%" />
          <tbody>
            <tr>
              <td><b> Bone mass measurements</b> (every 24 months)</td>
              <td>
                Medicare patients at risk for developing osteoporosis
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <b>Cardiovascular screening blood tests</b>
                (every 5 years)
                <br />&lt;Lipid panels> &lt;Cholesterol> &lt;Lipoprotein>
                &lt;Triglycerides>
              </td>
              <td>
                All asymptomatic Medicare patients (12-hour fast is required)
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <p>
                  <b>Colorectal cancer screening, flexible sigmoidoscopy</b><br
                  />(4 years, or once every 10 years after screening
                  colonoscopy)
                </p>
                <p>
                  <b>Screening Colonoscopy</b><br />(every 24 months at high
                  risk; every 10 years not at high risk)
                </p>
                <p><b>Fecal occult blood test</b> (annually)</p>
                <p>
                  <b>Barium enema</b><br />(every 24 months at high risk, every
                  4 years not at high risk)
                </p>
              </td>
              <td>
                Medicare patients age 50 and up; for screening colonoscopy,
                those at high risk, no minimum age; no minimum age for having a
                barium enema as an alternative to a high risk screening
                colonoscopy if the patient is at high risk
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <b>Diabetes screening tests</b><br />(2 screening tests per year
                for patient diagnosed with pre- diabetes; 1 screening per year
                if previously tested, but not diagnosed with pre-diabetes or if
                never tested)
              </td>
              <td>
                Medicare patients with certain risk factors for diabetes or
                those diagnosed with pre-diabetes (patients previously diagnosed
                with diabetes aren't eligible)
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <b>Diabetes Self-Management Training (DSMT) and Medical
                  Nutrition Therapy</b><br />(Up to 10 hours of initial training
                within a continuous12-month period; subsequent years up to 2
                hours of follow-up training each year after initial year)
              </td>
              <td>
                Medicare patients at risk for complications from diabetes,
                recently diagnosed with diabetes or previously diagnosed with
                diabetes (must certify DSMT need)
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <b>Glaucoma screening</b>
                (annually for patient in one or more high risk groups)
              </td>
              <td>
                Patients with diabetes mellitus, family historyor glaucoma,
                African-Americans age 50 andup, or Hispanic-Americans age 65 and
                up
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <b>Prostate cancer screening</b>
                (annually)<br />Digital rectal exam<br />Prostate-specific
                antigen test
              </td>
              <td>Male Medicare patients 50 and up</td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <b>Screening PAP tests and pelvic examination</b>
                (Annually if high-risk, or child bearing age with abnormal PAP
                test within past 3 years; every 24 months for all other women)
              </td>
              <td>Female Medicare patients</td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td><b>Screening mammography</b> (annually)</td>
              <td>All female patients 40 or older</td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <b>Vaccines</b><br />&lt;Pneumococcal> (Once in a lifetime)<br
                />&lt;Seasonal influenza> (once per flu season in the fall or
                winter)<br />
                &lt;Hepatitis B> (scheduled dosages required)
              </td>
              <td>
                All Medicare patients; may provide additional pneumococcal
                vaccinations based on risk and if at least 5 years have passed
                since previous dose; for hepatitis B, if patient is medium/high
                risk
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="frow justify-start gutters">
                  <div class="cb">
                    <label for="name">NEEDS</label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>