<section class="frow" id="assignment-insurance">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        <h2 class="text-center m-auto">
          Assignment of Insurance Benefits
        </h2>
      </div>
      <div class="text">
        <p>
          Medicare Certification: I certify that the information provided by me
          in applying for payment under TITLE XVII of the Social Security Act is
          correct and request on my behalf all authorized benefits. I hereby
          authorize and instruct my insurance carrier to make payment directly
          to Remedial Patients Care, Inc. for benefits (payments) otherwise
          payable to me. I agree to personally pay for any charge that are not
          covered by or collected from any insurance program including any
          deductibles and coinsurance amounts.
        </p>
        <p>
          I certify that all information given are correct and consent to the
          release of all records for payment of authorized benefits from
          Medical, Medicaid, or any other responsible payer be made in my behalf
          to Remedial Patients Care, Inc.
        </p>
        <p>
          I understand that the Federal Patient Self -Determination Act of 1990
          requires that I be made aware of my right to make healthcare decision
          for myself. I understand that I may guess express my wishes in a
          document called an Advance Directives so that my wishes may be known
          when I am unable to speak for myself.
        </p>
      </div>
      <div class="declarations">
        <ol>
          <li>
            <div class="frow justify-start gutters">
              <span class="col-2-3">I have a Living Will declarations</span>
              <div class="frow justify-start">
                <div class="cb">
                  <input type="checkbox" name="livingwill" id="livingwill" />
                  <label for="livingwill">Yes</label>
                </div>
                <div class="cb">
                  <input type="checkbox" name="livingwill" id="livingwill" />
                  <label for="livingwill">No</label>
                </div>
              </div>
            </div>
            <div class="col-1-1">
              <span>(If yes, please provide a copy of your will.)</span>
            </div>
          </li>
          <li>
            <div class="frow justify-start gutters">
              <span class="col-2-3">I have a Durable Power of Attorney for
                Health Care</span>
              <div class="frow justify-start">
                <div class="cb">
                  <input type="checkbox" name="livingwill" id="livingwill" />
                  <label for="livingwill">Yes</label>
                </div>
                <div class="cb">
                  <input type="checkbox" name="livingwill" id="livingwill" />
                  <label for="livingwill">No</label>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <table class="striped">
        <tbody>
          <tr>
            <td colspan="2">Name of Patient</td>
          </tr>
          <tr>
            <td>Name of Patient</td>
            <td>Date of Birth</td>
          </tr>
          <tr>
            <td colspan="2">Address</td>
          </tr>
          <tr>
            <td>Signature of Patient:</td>
            <td>Date:</td>
          </tr>
        </tbody>
      </table>
      <div class="legal-rep">
        <h3>LEGAL REPRESENTATIVE (IF PATIENT IS UNABLE TO SIGN)</h3>
        <p>
          Consent of Legal Guardian, Patient Advocate or Nearest Relative if
          patient is unable to sign<br />
          Consent of Caregiver if patient is unable to sign (Must have Power of
          Attorney)
        </p>
      </div>
      <table class="striped width-100">
        <tbody>
          <tr>
            <td colspan="6">Name of Legal Representative:</td>
          </tr>
          <tr>
            <td colspan="3">Relationship:</td>
            <td colspan="3">Telephone:</td>
          </tr>
          <tr>
            <td colspan="6">Address:</td>
          </tr>
          <tr>
            <td>Unit:</td>
            <td colspan="2">Street:</td>
            <td>City:</td>
            <td>State:</td>
            <td>Zip:</td>
          </tr>
          <tr>
            <td colspan="3">Signature of Legal Rep:</td>
            <td colspan="3">Date:</td>
          </tr>
          <tr>
            <td colspan="3">Name of Witness:</td>
            <td colspan="2">Sitnature:</td>
            <td colspan="1">Date:</td>
          </tr>
          <tr>
            <td colspan="6">Reason patient is unable to sign:</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>