<section class="frow" id="impression-plan">
  <div class="container-padding width-100">
    <div class="container mb-20">
      <h2 class="text-center m-auto">Impression / Plan DX</h2>
    </div>
    <div class="col-1-1 cb fc m-auto">
      <input type="checkbox" name="tcare" id="tcare" />
      <label for="tcare">Transitional Care</label>
    </div>
    <div class="col-1-1 impressions py-10 bb stripes">
      <div class="frow impression">
        <div class="col-2-12 title">
          <p><strong>Stroke</strong></p>
        </div>
        <div class="col-10-12 description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            doloremque fugit repellat tempora voluptatibus quasi vel
            perspiciatis debitis aperiam voluptas et sint asperiores, minima aut
            officia minus quisquam autem qui. Eum dolorem exercitationem nisi
            obcaecati aut repudiandae fuga, eos distinctio rerum ut commodi qui
            corrupti veritatis ullam vel eaque illo assumenda labore officia!
            Voluptatem, voluptatum temporibus odio cum facilis sit.
          </p>
        </div>
      </div>
      <div class="frow impression">
        <div class="col-2-12 title">
          <p><strong>Mucosa Dry</strong></p>
        </div>
        <div class="col-10-12 description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            doloremque fugit repellat tempora voluptatibus quasi vel
            perspiciatis debitis aperiam voluptas et sint asperiores, minima aut
            officia minus quisquam autem qui. Eum dolorem exercitationem nisi
            obcaecati aut repudiandae fuga, eos distinctio rerum ut commodi qui
            corrupti veritatis ullam vel eaque illo assumenda labore officia!
            Voluptatem, voluptatum temporibus odio cum facilis sit.
          </p>
        </div>
      </div>
      <div class="frow impression">
        <div class="col-2-12 title">
          <p><strong>Mucosa Dry</strong></p>
        </div>
        <div class="col-10-12 description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            doloremque fugit repellat tempora voluptatibus quasi vel
            perspiciatis debitis aperiam voluptas et sint asperiores, minima aut
            officia minus quisquam autem qui. Eum dolorem exercitationem nisi
            obcaecati aut repudiandae fuga, eos distinctio rerum ut commodi qui
            corrupti veritatis ullam vel eaque illo assumenda labore officia!
            Voluptatem, voluptatum temporibus odio cum facilis sit.
          </p>
        </div>
      </div>
      <div class="frow impression">
        <div class="col-2-12 title">
          <p><strong>Mucosa Dry</strong></p>
        </div>
        <div class="col-10-12 description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            doloremque fugit repellat tempora voluptatibus quasi vel
            perspiciatis debitis aperiam voluptas et sint asperiores, minima aut
            officia minus quisquam autem qui. Eum dolorem exercitationem nisi
            obcaecati aut repudiandae fuga, eos distinctio rerum ut commodi qui
            corrupti veritatis ullam vel eaque illo assumenda labore officia!
            Voluptatem, voluptatum temporibus odio cum facilis sit.
          </p>
        </div>
      </div>
    </div>
    <div class="notes">
      <p>
        <span>Advanced Care Planning: Advanced care planning with patient, time
          spent
          <strong>15</strong>
          minutes. Reviewed care plan options such as code status, intubation
          and hospitalization. Reviewed risks of cardiac resuscitation including
          rib fracture. Reviewed prolong life expectancy and benefit to
          aggressive care and treatment.</span>
      </p>
      <h3>Orders: AS ATTACHED</h3>
      <h4>Discussion Notes:</h4>
      <p>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          fugiat dolores numquam possimus quod corrupti omnis laborum ab
          dolorem! Velit possimus, atque amet quaerat soluta dignissimos earum
          similique voluptatem a.</span>
      </p>
    </div>
  </div>
</section>