<section class="frow" id="impression-plan">
  <div class="container-padding width-100">
    <div class="container mb-20">
      {{> formTitle }}
    </div>
    <div class="col-1-1 impressions py-10 bb stripes">
       {{#each PrescribedDiagnosis}}
      <div class="frow impression">
        <div class="col-2-12 title">
          <p><strong>{{Diagnosis}}</strong></p>
        </div>
        <div class="col-10-12 description">
          <p>
           {{{Prescription}}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="notes">
      <p>
        <span>Advanced Care Planning: Advanced care planning with patient, time
          spent
          <strong>15</strong>
          minutes. Reviewed care plan options such as code status, intubation
          and hospitalization. Reviewed risks of cardiac resuscitation including
          rib fracture. Reviewed prolong life expectancy and benefit to
          aggressive care and treatment.</span>
      </p>
      <h3>Orders: AS ATTACHED</h3>
      <h4>Discussion Notes:</h4>
      <p>
        <span>Current condition, medication regimen, plan of care as above discussed.
            Continue current medications and plan of care.
            Frail elderly, on medications requiring regular monitoring. Follow labs closely.
            Medications prescribed using electronic prescribing system.
            I verify that a total of <strong>{{@root.AppointmentInformation.VisitLength}}</strong> was spent on this encounter by the Nurse Practitioner directly.
            Follow-up visit mentioned in plan.
        </span>
      </p>
    </div>
  </div>
</section>