{{#with InitialAssessmentForm}}
<section class="frow" id="initial-assesment">
  <div class="container-padding width-100">
    <div class="container centered mb-20">
      <h2 class="text-center m-auto">INITIAL ASSESSMENT FORM</h2>
    </div>
    <table class="striped width-100">
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />

      <tbody>
        <tr>
          <td colspan="1">
            <div class="cb">
                {{> checkbox IsChecked=InitialVisit name="Initial Visit" }}
            </div>
          </td>

          <td colspan="1">
            <div class="frow" style="display: flex; flex-direction: row; width: 100%; align-items: flex-start; justify-content: flex-start;">
              <div class="cb ">
                 {{> checkbox IsChecked=FollowUpVisit name="Follow Up Visit" }}
              </div>
              <span class="px-5">/</span>
              <div class="cb ">
                {{> checkbox IsChecked=RecertVisit name="Recert Visit" }}
              </div>
              </div>
            </div>
          </td>

          <td colspan="1">
            <div class="cb" style="align-items: center;">
              <span>Sex :</span>
              <div style="margin-left: 10px; display:flex; flex-direction:row; margin-top:10px">
                <div class="cb">
                  {{> checkbox IsChecked=(genderChecker Sex "M") name="M" }}
                </div>
                <span class="px-5">/</span>
                  <div class="cb">
                  {{> checkbox IsChecked=(genderChecker Sex "F") name="F" }}
                  </div>
                </div>
            </div>
          </td>

          <td colspan="3">
            <div style="display: flex; gap:15px;">
              <span>Location patient is accessed:</span>
              {{> checkbox IsChecked=Homevisit name="Home Visit" }}
               {{> checkbox IsChecked=CracklesLoc name="Boarding Care" }}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4>Chief Complaint</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto text-uppercase">Allergies</h4>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <strong>Drug / Food</strong>
          </td>
          <td colspan="4">
            <strong>Reaction</strong>
          </td>
        </tr>
        <!-- Repeat this row -->
        <tr>
          <td colspan="3">
            <span>Name of the drug</span>
          </td>
          <td colspan="3">
            <span>Reaction Description</span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="cb">
               {{> checkbox IsChecked=Penicillin name="Penicillin" }}
            </div>
          </td>
          <td colspan="2">
            <div class="cb">
               {{> checkbox IsChecked=Sulfa name="Sulfa" }}
            </div>
          </td>
          <td colspan="2">
            <div class="cb">
               {{> checkbox IsChecked=NOKNOWNALLERGIES name="NO KNOWN ALLERGIES" }}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h4 class="fc m-auto">Functional Limitations</h4>
          </td>
          <td colspan="3">
            <h4 class="fc m-auto">Activities Permited</h4>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="frow cbs justify-start">
              {{#each @root.SelectedFunctionalLimitations}}
              <div class="col-1-2 cb">
                 {{> checkbox IsChecked=IsChecked name=PatientFunctionalLimitation }}
              </div>
              {{/each}}
            </div>
          </td>
          <td colspan="3">
            <div class="frow cbs justify-start">
              <!-- Repeat Below for all list of activities permited -->
              {{#each @root.SelectedActivitiesPermitted}}
              <div class="cb col-1-2">
                  {{> checkbox IsChecked=IsChecked name=ActivitiesPermited }}
              </div>
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PAST MEDICAL HISTORY</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow cbs justify-start">
              <!-- Repeat Below for all Surgical Histories -->
              {{#each @root.SelectedPastMedicalHistory}}
              <div class="cb col-1-8">
                {{> checkbox IsChecked=IsChecked name=PASTMEDICALHISTORY }}
              </div>
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PAST SURGICAL HISTORY</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow cbs justify-start">
              <!-- Repeat Below for all Surgical Histories -->

              {{#each @root.SelectedPastSurgicalHistory}}
              <div class="cb col-1-2">
                {{> checkbox IsChecked=IsChecked name=PastSurgicalHistory }}
              </div>
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">Social History</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow justify-start">
              <div class="frow col-1-1">
                <strong class="col-1-6">Tobacco / THC</strong>
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=(checker PatientUseTobacco "Yes") name="Yes" }}
                </div>
                <div class="cb col-1-6">
                   {{> checkbox IsChecked=(checker PatientUseTobacco "No") name="No" }}
                </div>
                <div class="cb col-1-6">
                  {{#each TobaccoTHC}}
                   {{> checkbox IsChecked=(dailyUseChecker TobaccoTHC "Daily") name="Daily" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                   {{#each TobaccoTHC}}
                   {{> checkbox IsChecked=(dailyUseChecker TobaccoTHC "Socially") name="Socially" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                  {{#each TobaccoTHC}}
                   {{> checkbox IsChecked=(dailyUseChecker TobaccoTHC "Occasionally") name="Occasionally" }}
                   {{/each}}
                </div>
              </div>

              <div class="frow col-1-1">
                <strong class="col-1-6">ETOH/Alcohol</strong>
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=(checker PatientConsumeAlcohol "Yes") name="Yes" }}
                </div>
                <div class="cb col-1-6">
                  {{!-- <input type="checkbox" name="name" id="name" />
                  <label for="name">No</label> --}}
                  {{> checkbox IsChecked=(checker PatientConsumeAlcohol "No") name="No" }}
                </div>
                <div class="cb col-1-6">
                   {{#each ETOHAlcohol}}
                   {{> checkbox IsChecked=(dailyUseChecker ETOHAlcohol "Daily") name="Daily" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                  {{#each ETOHAlcohol}}
                   {{> checkbox IsChecked=(dailyUseChecker ETOHAlcohol "Socially") name="Socially" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                   {{#each ETOHAlcohol}}
                   {{> checkbox IsChecked=(dailyUseChecker ETOHAlcohol "Occasionally") name="Occasionally" }}
                   {{/each}}
                </div>
              </div>

              <div class="frow col-1-1">
                <strong class="col-1-6">Drugs</strong>
                <div class="cb col-1-6">
                  <input type="checkbox" name="name" id="name" />
                  <label for="name">Methamphetamines</label>
                </div>
                <div class="cb col-1-6">
                  <input type="checkbox" name="name" id="name" />
                  <label for="name">Cocaine</label>
                </div>
                <div class="cb col-1-6">
                  <input type="checkbox" name="name" id="name" />
                  <label for="name">Heroin</label>
                </div>
                <div class="cb col-2-6">
                  <input type="checkbox" name="name" id="name" />
                  <label for="name">Ecstasy</label>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">
              REVIEW OF SYSTEM / PHYSICAL EXAMINATION
            </h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <table class="striped width-100">
              <thead>
                <tr>
                  <th colspan="7">
                    <div class="fc m-auto">VITALS</div>
                  </th>
                </tr>
                <tr>
                  <th>HT</th>
                  <th>WT</th>
                  <th>TEMP</th>
                  <th>BP</th>
                  <th>HR</th>
                  <th>RR</th>
                  <th>02 SAT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Date</td>
                  <td>Meds</td>
                  <td>Dos</td>
                  <td>Rout</td>
                  <td>Freq</td>
                  <td>Purpose</td>
                  <td>Purpose</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <table class="striped width-100">
              <col width="20%" />
              <col width="10%" />
              <col width="70%" />
              <thead>
                <tr>
                  <th>System</th>
                  <th>WNL</th>
                  <th>FINDINGS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <strong>General</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosGeneral}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=General }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Head</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosHead}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Head }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Neck, Axilla, Breasts</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosNeckAxilliaBreasts}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=NeckAxillaBreasts }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Eyes</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosEyes}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Eyes }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Ears</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosEars}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=Ears }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Nose</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                        {{#each @root.SelectedRosNose}}
                        <div class="cb col-1-6">
                          {{> checkbox IsChecked=IsChecked name=Nose }}
                        </div>
                        {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Mouth</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosMouth}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Mouth }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Cardiovascular</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosCardiovascular}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Cardiovascular }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Pulmonary</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosPulmonary}}
                      <div class="cb col-1-6">
                        <input type="checkbox" name="name" id="name" />
                        <label for="name">name</label>
                      </div>
                      {{/each}}
                      
                      
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Abdomen</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosAbdomen}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Abdomen }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Genitourinary</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosGenitourinary}}
                      <div class="cb col-1-6">
                       {{> checkbox IsChecked=IsChecked name=Genitourinary }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Rectal</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosRectal}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Rectal }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Upper extremities</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosUpperExtremities}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=UpperExtremities }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Lower extremities</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs  justify-start">
                      {{#each @root.SelectedLowerExtremities}}
                      <div class="cb col-1-6">
                       {{> checkbox IsChecked=IsChecked name=LowerExtremities }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Skin</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosSkin}}
                      <div class="cb col-1-6">
                        <input type="checkbox" name="name" id="name" />
                        <label for="name">name</label>
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Nutrition</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosNutrition}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=Nutrition }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>MUSCLE SKELETAL</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span>WNL...</span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs  justify-start">
                      {{#each @root.SelectedRosMuscleSkeletal}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=MuscleSketetal }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Endocrine</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosEndocrine}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Endocrine }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Pelvic</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosPelvic}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=Pelvic }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Neurological</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosNeurological}}
                      <div class="cb col-1-6">
                         {{> checkbox IsChecked=IsChecked name=Neurological }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Mental</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosMental}}
                      <div class="cb col-1-6">
                        {{> checkbox IsChecked=IsChecked name=Mental }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">ASSESSMENT/DIAGNOSIS</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <p>Diagnosis comes here...</p>
          </td>
        </tr>
        <!-- PLAN -->
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PLAN</h4>
          </td>
        </tr>
        <!-- loop here... -->
        <tr>
          <td colspan="2">
            <div class="cb">
              <input type="checkbox" name="sendtoed" id="sendtoed" />
              <label for="sendtoed">Send to ED now</label>
            </div>
          </td>
          <td colspan="2">
            <!-- followup in 1 week with ECP -->
            <div class="cb">
              <input type="checkbox" name="followup" id="followup" />
              <label for="followup">Follow up in 1 week with ECP</label>
            </div>
          </td>
          <td colspan="2">
            <!-- Continue current medications -->
            <div class="cb">
              <input type="checkbox" name="continue" id="continue" />
              <label for="continue">Continue current medications/ Treatment</label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="cb">
              <input type="checkbox" name="newmeds" id="newmeds" />
              <label for="newmeds">New Med/Tx/Sup/DME: See orders</label>
            </div>
          </td>
          <td colspan="2">
            <!-- followup in 1 week with ECP -->
            <div class="cb">
              <input type="checkbox" name="labsdiag" id="labsdiag" />
              <label for="labsdiag">Labs/Diagnostics: See AdmissionOrders</label>
            </div>
          </td>
          <td colspan="2">
            <!-- Continue current medications -->
            <div class="cb">
              <input type="checkbox" name="referals" id="referals" />
              <label for="referals">Referrals: See Admission Orders</label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="cb">
              <input type="checkbox" name="wellnespre" id="wellnespre" />
              <label for="wellnespre">Wellness/preventive intervention</label>
            </div>
          </td>
          <td colspan="2">
            <!-- followup in 1 week with ECP -->
            <div class="cb">
              <input type="checkbox" name="ptoh" id="ptoh" />
              <label for="ptoh">PT/OT/HH for disease or pain management</label>
            </div>
          </td>
          <td colspan="2">
            <!-- Continue current medications -->
            <div class="cb">
              <input type="checkbox" name="refilmeds" id="refilmeds" />
              <label for="refilmeds">Refill medications</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="signatures mt-60 mb-10">
      <div class="frow provider justify-start mb-60">
        <div class="frow title col-6-12 justify-start">
          <div class="col-4-12">
            <span> Provider Name: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Name</span>
          </div>
        </div>
        <div class="signature col-6-12 bb">
          Signature:
          <!-- <img class="signature-img" src="./logo/ferroli.png" alt="psig" /> -->
        </div>
        <div class="frow date col-6-12 justify-start">
          <div class="col-4-12">
            <span> Date: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Date here</span>
          </div>
        </div>
      </div>
      <div class="frow medical-provider justify-start">
        <div class="frow title col-6-12">
          <div class="col-4-12">
            <span> Physician Name: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Name</span>
          </div>
        </div>
        <div class="signature col-6-12 bb">
          Signature:
          <!-- <img class="signature-img" src="./logo/ferroli.png" alt="psig" /> -->
        </div>
        <div class="frow date col-6-12">
          <div class="col-4-12">
            <span> Date: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Date here</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}