<section class="frow" id="intake-form">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                <h2 class="text-center m-auto">
                    INTAKE FORM <br />(GENERAL CONSENT FOR TREATMENT)
                </h2>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Referral form:</span>
                    <span class="p-5 text-underline">...referral form...</span>
                </div>
                <div class="col-1-2">
                    <span>Date:</span>
                    <span class="p-5 text-underline">.. / .. / ....</span>
                </div>
            </div>
            <div class="frow justify-start mb-20">
                <div class="col-1-2">
                    <span>Telephone No:</span>
                    <span class="p-5 text-underline">...number...</span>
                </div>
                <div class="col-1-2">
                    <span>Home Health/Hospice:</span>
                    <span class="p-5 text-underline">
                        ...home health/hospice...
                    </span>
                </div>
            </div>
            <div class="frow justify-start text-bold text-underline mb-20">
                <span>PATIENT INFORMATION</span>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Name:</span>
                    <span class="p-5 text-underline">... name ...</span>
                </div>
                <div class="col-1-2">
                    <span>Date of Birth:</span>
                    <span class="p-5 text-underline">.. / .. / ....</span>
                </div>
            </div>
            <div class="frow justify-start mb-10">
                <div class="col-1-2">
                    <span>Address:</span>
                    <span class="p-5 text-underline">... address ...</span>
                </div>
                <div class="col-1-2">
                    <span>Patient's Phone No:</span>
                    <span class="p-5 text-underline">... number ...</span>
                </div>
            </div>
            <div class="frow justify-start">
                <!-- <span> -->
                <p>
                    I,
                    <span class="p-5 text-underline">... sample data ...</span>
                    here by give permission to
                    <span class="text-underline">.. sample doctor .. </span>
                    (Authorized Medical Provider of
                    <b>Remedial Patients Care, Inc.</b>) to perform all necessary
                    assessment and treatment. I understand that I may refuse or
                    terminate services at any time. If needed or requested, any
                    concerns regarding that medical condition and treatment will be
                    referred to other care provider. I understand that I can discuss
                    any religious or spiritual, cultural and other preferences that
                    are important to my treatment plan. I acknowledge that
                    <b>RECEIPT</b> of <b>Notice of Privacy (HIPAA Form)</b> and was
                    given opportunity to ask the questions and voice concerns. I
                    give permission to <b>Remedial Patients Care, Inc</b> to use and
                    disclose Protective Health Information about me to carry out
                    treatment, payment, health care operations.
                </p>
                <!-- </span> -->
            </div>
            <div class="frow justify-start text-capitalize text-underline text-bold mt-10">
                <span>ACKNOWLEDGEMENT OF PRIVACY PRACTICES</span>
            </div>
            <div class="frow justify-start">
                <p>
                    I acknowledge the <b>Receipt of Privacy Practices</b> and was
                    given opportunity to review notices, ask the questions and voice
                    concerns, set limitations / restrictions on the use of my health
                    information. I give permission to
                    <b>Remedial Patients Care, Inc.</b> to use and disclose
                    Protective Health Information about me to carry out treatment,
                    payment, health care operations, receive and release information
                    pertinent to my care.
                </p>
                <span>
                    I authorize <b>Remedial Patients Care, Inc.</b> to photograph or
                    videotape appropriate body parts for necessary documentations
                    only.
                </span>
            </div>
            <div class="frow justify-start gutters text-bold">
                <span>Photo/Video consent:</span>
                <div class="cb">
                    <label for="consent">Yes</label>
                </div>
                <div class="cb">
                    <label for="consent">No</label>
                </div>
            </div>
            <div class="frow justify-start text-bold text-underline mt-10">
                <span>REASON FOR REFERRAL</span>
            </div>
            <div class="frow justify-start mt-10">
                <div class="col-1-2">
                    <span>Discharge from Hospital:</span>
                    <span class="p-5 text-underline"> .... sample ....</span>
                </div>
                <div class="col-1-2">
                    <span>Date of Discharge:</span>
                    <span class="p-5 text-underline">.. / .. / ....</span>
                </div>
            </div>
            <div class="frow justify-start gutters">
                <span>Patient is using: </span>
                <div class="cb">
                    <label for="patient-use">Cane</label>
                </div>
                <div class="cb">
                    <label for="patient-use">Wheelchair</label>
                </div>
                <div class="cb">
                    <label for="patient-use">Walker</label>
                </div>
            </div>
            <div class="frow justify-start mt-50">
                <div class="col-1-2">
                    <span class="text-bold">PATIENT'S SIGNATURE: </span>
                    <span class="p-10 text-underline"> ... signature ...</span>
                </div>
                <div class="col-1-2">
                    <span>DATE:</span>
                    <span class="p-5 text-underline"> .. / .. / ....</span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-1">
                    <span>Relationship to patient:</span>
                    <span class="p-5 text-underline">
                        ... relationship to patient ...
                    </span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Witness:</span>
                    <span class="p-5 text-underline">... witness ...</span>
                </div>
                <div class="col-1-2">
                    <span>Date:</span>
                    <span class="p-5 text-underline"> .. / .. / ....</span>
                </div>
            </div>
        </div>
    </div>
</section>