<section class="frow" id="assignment-insurance">
    <div class="container-padding width-100">
        <div class="content">
            <div class="border-all m-100" style="border: 2px solid">
                <hr class="mt-0 mb-0 ml-10 mr-10">
                <div class="justify-start fz-20 text-bold m-10 mt-0" style="background-color: #e7e7e7">
                    <div>PATIENT NAME:</div>
                    <div>DATE OF BIRTH:</div>
                    <div>ADDRESS:</div>
                    <div>PHONE NO:</div>
                    <div>HOME HEALTH:</div>
                </div>

                <div class="frow justify-start mt-100" style="width: 150px">                    
                    <img src="{{hostUrl}}/reports/assets/Rx_symbol.jpeg" alt="prescription symbol" />
                   
                </div>
            </div>
        </div>
    </div>
</section>