<section class="frow" id="medication-recon">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        <h2 class="text-center m-auto">Medication Reconciliation</h2>
      </div>

      <div class="medication info">
        <div class="frow justify-start">
          <div class="col-1-2">
            <span>Phone:</span>
            <span class="p-5 text-underline">Number</span>
          </div>
          <div class="col-1-2">
            <span>HICN:</span>
            <span class="p-5 text-underline">HICN#</span>
          </div>
          <div class="col-1-4">
            <span>DIAGNOSIS:</span>
            <span class="p-5 text-underline">DIAGNOSIS</span>
          </div>
          <div class="col-1-4">
            <span>ALLERGIES:</span>
            <span class="p-5 text-underline">ALLERGIES</span>
          </div>
          <div class="col-1-4">
            <span>HEIGHT:</span>
            <span class="p-5 text-underline">HEIGHT</span>
          </div>
          <div class="col-1-4">
            <span>WEIGHT:</span>
            <span class="p-5 text-underline">WEIGHT</span>
          </div>

          <div class="frow col-1-2 justify-start gutters">
            <span>REVIEWED FOR CONTRAINDICATIONS:</span>
            <div class="cb">
              <label for="name">YES</label>
            </div>
            <div class="cb">
              <label for="name">NO</label>
            </div>
          </div>
          <div class="frow col-1-2 justify-start gutters">
            <span>REVIEWED FOR INTERACTIONS:</span>
            <div class="cb">
              <label for="name">YES</label>
            </div>
            <div class="cb">
              <label for="name">NO</label>
            </div>
          </div>

          <div class="frow col-1-1 justify-start gutters">
            <span>PHARMACY NAME:</span>
            <span class="p-l text-underline">PHARMACY NAME</span>
          </div>

          <div class="frow col-1-1 justify-start gutters">
            <span>ADDRESS:</span>
            <span class="p-l text-underline">address</span>
          </div>

          <div class="frow col-1-1 justify-start gutters">
            <span>PHONE:</span>
            <span class="p-l text-underline">phone</span>
          </div>

          <!-- Rest... -->

          <table class="striped width-100">
            <thead>
              <tr>
                <th>Prescribed Medications</th>
                <th>DOSE</th>
                <th>ROUTE</th>
                <th>FREQUENCY</th>
                <th>PURPOSE</th>
                <th>REFILLS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>a</td>
                <td>1</td>
                <td>Po</td>
                <td>Topical</td>
                <td>BID</td>
                <td>1</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>b</td>
                <td>2</td>
                <td>Po</td>
                <td>Topical</td>
                <td>BID</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>

          <div class="cb">
            <label for="name">See Attachment</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>