<section class="frow" id="polst">
  <div class="container-padding width-100">
    <table class="width-100">
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <tbody>
        <tr>
          <td class="background-black text-center text-bold fz-16" colspan="5">
            HIPAA PERMITS DISCLOSURE OF POLST TO OTHER HEALTHCARE PROVIDERS AS
            NECESSARY
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <div class="frow">
              <img src="http://localhost:3000/assets/polst.jpeg" alt="polst" />
              <div class="col-1-1 text-center">EMSA #111B</div>
              <div class="col-1-1 text-center">(Effective 10/1/2014)</div>
            </div>
          </td>
          <td colspan="4">
            <table>
              <col width="50%" />
              <col width="50%" />
              <tbody>
                <tr>
                  <td colspan="2">
                    <span class="text-bold fz-26">Physician Orders for
                      Life-Sustaining Treatment (POLST)</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      First follow these orders, then contact physician. A copy
                      of the signed POLST form is a legally valid physician
                      order. Any section not completed implies full treatment
                      for that section. POLST complements an Advance Directive
                      and is not intended to replace that document.
                    </p>
                  </td>
                  <td>
                    <table>
                      <tbody>
                        <tr>
                          <td>Patient Last Name:</td>
                          <td>Date Form Prepared:</td>
                        </tr>
                        <tr>
                          <td>Patient First Name:</td>
                          <td>Patient Date of Birth:</td>
                        </tr>
                        <tr>
                          <td>Patient Middle Name:</td>
                          <td>Medical Record#</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <!-- A -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">A</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="width-100">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-5">
                    <b>CARDIOPULMONARY RESUSCITATION (CPR):</b>
                    If patient has no pulse and is not breathing. If patient is
                    NOT in cardiopulmonary arrest, follow orders in Sections B
                    and C.
                  </div>
                </tr>
                <tr>
                  <td>
                    <div class="p-5">
                      <div class="cb">
                        <input type="checkbox" disabled name="CPR" id="CPR" />
                        <label for="CPR">Attempt CPR</label>
                      </div>
                      <div class="cb">
                        <input type="checkbox" disabled name="CPR" id="CPR" />
                        <label for="CPR">Do Not Attempt CPR</label>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- B -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">B</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="width-100">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-5">
                    <b>MEDICAL INTERVENTIONS:</b>
                    If patient is found with a pulse and/or is breathing.
                  </div>
                </tr>
                <tr>
                  <td>
                    <div class="p-5">
                      <div class="cb">
                        <input type="checkbox" disabled name="CPR" id="CPR" />
                        <label for="CPR">Attempt CPR</label>
                      </div>
                      <div class="cb">
                        <input type="checkbox" disabled name="CPR" id="CPR" />
                        <label for="CPR">Do Not Attempt CPR</label>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- C -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">C</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="width-100">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-5">
                    <b>ARTIFICIALLY ADMINISTERED NUTRITION:</b>
                    Offer food by mouth if feasible and desired.
                  </div>
                </tr>
                <tr>
                  <tr>
                    <div class="p-5">
                      <div class="cb">
                        <input type="checkbox" disabled name="CPR" id="CPR" />
                        <label for="CPR">Attempt CPR</label>
                      </div>
                      <div class="cb">
                        <input type="checkbox" disabled name="CPR" id="CPR" />
                        <label for="CPR">Do Not Attempt CPR</label>
                      </div>
                    </div>
                  </tr>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- D -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">D</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="">

              <tbody>
                <tr>
                  <td>
                    <div class="fz-24 background-dgrey p-5">
                      <b>INFORMATION AND SIGNATURES:</b>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <col width="50%" />
                      <col width="25%" />
                      <col width="25%" />
                      <tbody>
                        <tr>
                          <td>Discussed with:</td>
                          <td>
                            <div class="cb">
                              <input type="checkbox" disabled name="CPR" />
                              <label for="CPR">Patient (Patient Has Capacity)</label>
                            </div>
                          </td>
                          <td>
                            <div class="cb">
                              <input type="checkbox" disabled name="CPR" />
                              <label for="CPR">Legally Recognized Decisionmaker</label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="frow justify-start">
                              <div class="cb">
                                <input type="checkbox" disabled name="CPR" />
                                <label for="CPR">Advanced Directive Dated
                                </label>
                              </div>
                              <div class="date px-5 text-underline">Date comes
                                here</div>
                              <div>,available and reviewed -&gt; </div>
                            </div>
                            <div class="cb">
                              <input type="checkbox" disabled name="CPR" />
                              <label for="CPR">Advance Directive not available
                              </label>
                            </div>

                            <div class="cb">
                              <input type="checkbox" disabled name="CPR" />
                              <label for="CPR">No Advance Directive
                              </label>
                            </div>

                          </td>
                          <td class="vat" colspan="2">
                            <div class="text-bold">
                              Healthcare Agent if named in Advance Directive:
                            </div>
                            <div class="name">
                              <span>Name:</span>
                              <span class="text-underline">Name</span>
                            </div>
                            <div class="phone">
                              <span>Phone:</span>
                              <span class="text-underline">Phone</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" class="background-dgrey">
                            <div class="fz-16">
                              <b>Signature Physician:</b><br />
                              <span>My signature below indicates to the best of
                                my knowledge that these orders are consistent
                                with the patient’s medical condition and
                                preferences.</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="name">Print Physician Name:</span>
                            <span class="">Name here...</span>
                          </td>
                          <td>
                            <div class="phone">
                              <span>Phone:</span>
                              <span class="">Phone</span>
                            </div>
                          </td>

                          <td>
                            <div class="license">
                              <span>License #:</span>
                              <span class="">License#</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <div class="physian-signature">
                              <span>Physician Signature:</span>
                              <span class="">Signature...</span>
                            </div>
                          </td>
                          <td>
                            <div class="date">
                              <span>Date:</span>
                              <span class="">Date</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" class="background-dgrey">
                            <div class="fz-16">
                              <b>Signature of Patient or Legally Recognized
                                Decisionmaker:</b><br />
                              <span>I am aware that this form is voluntary. By
                                signing this form, the legally recognized
                                decisionmaker acknowledges that this request
                                regarding resuscitative measures is consistent
                                with the known desires of, and with the best
                                interest of, the patient who is the subject of
                                the form.</span>
                            </div>

                          </td>
                        </tr>

                        <tr>
                          <td colspan="2">
                            <div class="name">
                              <span>Print Name:</span>
                              <span class="">Name</span>
                            </div>
                          </td>
                          <td>
                            <div class="relationship">
                              <span>Relationship (write self if patient):</span>
                              <span class="">Relationship</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <div class="signature">
                              <span>Signature:</span>
                              <span class="">Signature</span>
                            </div>
                          </td>
                          <td>
                            <div class="date">
                              <span>Date:</span>
                              <span class="">Date</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="address">
                              <span>Mailing Address (street/city/state/zip):</span>
                              <span class="">Address</span>
                            </div>
                          </td>
                          <td>
                            <div class="phone">
                              <span>Phone:</span>
                              <span class="">Phone</span>
                            </div>
                          </td>
                          <td>
                            <div class="office-use-only">
                              <span>Office Use Only:</span>
                              <span class="">Office Use Only</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>

                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</section>