<section class="frow" id="polst">
  <div class="container-padding width-100">
    <table class="width-100">
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <tbody>
        <tr>
          <td class="background-black text-center text-bold fz-16" colspan="5">
            HIPAA PERMITS DISCLOSURE OF POLST TO OTHER HEALTHCARE PROVIDERS AS
            NECESSARY
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <div class="frow">
              <img src="/assets/polst.jpeg" alt="polst" />
              <div class="col-1-1 text-center">EMSA #111B</div>
              <div class="col-1-1 text-center">(Effective 10/1/2014)</div>
            </div>
          </td>
          <td colspan="4">
            <table>
              <col width="50%" />
              <col width="50%" />
              <tbody>
                <tr>
                  <td colspan="2">
                    <span class="text-bold fz-26">Physician Orders for
                      Life-Sustaining Treatment (POLST)</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      First follow these orders, then contact physician. A copy
                      of the signed POLST form is a legally valid physician
                      order. Any section not completed implies full treatment
                      for that section. POLST complements an Advance Directive
                      and is not intended to replace that document.
                    </p>
                  </td>
                  <td>
                    <table>
                      <tbody>
                        <tr>
                          <td>Patient Last Name:</td>
                          <td>Date Form Prepared:</td>
                        </tr>
                        <tr>
                          <td>Patient First Name:</td>
                          <td>Patient Date of Birth:</td>
                        </tr>
                        <tr>
                          <td>Patient Middle Name:</td>
                          <td>Medical Record#</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <!-- A -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">A</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="striped">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-5">
                    <b>CARDIOPULMONARY RESUSCITATION (CPR):</b>
                    If patient has no pulse and is not breathing. If patient is
                    NOT in cardiopulmonary arrest, follow orders in Sections B
                    and C.
                  </div>
                </tr>
                <tr>
                  <div class="p-5">
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Attempt CPR</label>
                    </div>
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Do Not Attempt CPR</label>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- B -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">B</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="striped">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-5">
                    <b>MEDICAL INTERVENTIONS:</b>
                    If patient is found with a pulse and/or is breathing.
                  </div>
                </tr>
                <tr>
                  <div class="p-5">
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Attempt CPR</label>
                    </div>
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Do Not Attempt CPR</label>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- C -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">C</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="striped">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-5">
                    <b>ARTIFICIALLY ADMINISTERED NUTRITION:</b>
                    Offer food by mouth if feasible and desired.
                  </div>
                </tr>
                <tr>
                  <div class="p-5">
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Attempt CPR</label>
                    </div>
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Do Not Attempt CPR</label>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- D -->
        <tr>
          <td class="text-center">
            <div class="text-bold fz-30">D</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="striped">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-5">
                    <b>INFORMATION AND SIGNATURES:</b>
                  </div>
                </tr>
                <tr>
                  <div class="p-5">
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Attempt CPR</label>
                    </div>
                    <div class="cb">
                      <input type="checkbox" disabled name="CPR" id="CPR" />
                      <label for="CPR">Do Not Attempt CPR</label>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>