<section class="frow" id="records-release-authorization">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                <h2 class="text-center m-auto">RECORDS RELEASE/AUTHORIZATION</h2>
            </div>
            <div class="text-center m-auto text-bold">RECORDS REQUESTED</div>
            <ul class="text-bold ml-50">
                <li>The patient's significant medical history</li>
                <li>Current medical findings</li>
                <li>Diagnosis (es)</li>
                <li>Rehabilitation goals, if determined</li>
            </ul>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Name of Patient:</span>
                    <span class="p-5 text-underline">.....name.....</span>
                </div>
                <div class="col-1-2">
                    <span>Medicare No:</span>
                    <span class="p-5 text-underline">..1231233..</span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Social Security No:</span>
                    <span class="p-5 text-underline">..12123131313..</span>
                </div>
                <div class="col-1-2">
                    <span>Date of Birth:</span>
                    <span class="p-5 text-underline">../../....</span>
                </div>
                <div class="col-1-1 text-bold">
                    <span>Address:</span>
                    <span class="p-5 text-underline">......, ......., ......</span>
                </div>
                <div class="col-1-4 text-bold">
                    <span>City:</span>
                    <span class="p-5 text-underline">...city...</span>
                </div>
                <div class="col-1-4 text-bold">
                    <span>State:</span>
                    <span class="p-5 text-underline">...state...</span>
                </div>
                <div class="col-1-4 text-bold">
                    <span>Zip:</span>
                    <span class="p-5 text-underline">..zip..</span>
                </div>
            </div>
            <div class="frow justify-start mt-50">
                <div class="col-1-2 text-bold">
                    <span>AUTHORIZATION SIGNATURE</span>
                    <span class="p-20 text-underline">.....signature.....</span>
                </div>
                <div class="col-1-2">
                    <span>DATE:</span>
                    <span class="p-5 text-underline">../../....</span>
                </div>
            </div>
            <div class="frow justify-start mt-10 mb-5">
                <div class="col-1-1">
                    <span>NAME OF SIGNATORY:</span>
                    <span class="p-5 text-underline">...name..of..person..</span>
                </div>
            </div>
            <div class="frow justify-start mb-5">
                <span>(IF DIFFERENT FROM PATIENT)</span>
            </div>
            <div class="frow justify-start">
                <div class="col-1-1">
                    <span>Relationship to patient:</span>
                    <span class="p-5 text-underline">.....relationship.....</span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Witness</span>
                    <span class="p-5 text-underline">....witness....</span>
                </div>
                <div class="col-1-2">
                    <span>Date</span>
                    <span class="p-5 text-underline">../../....</span>
                </div>
            </div>
            <div class="frow justify-start mt-10">
                <div class="col-1-1">
                    THIS RELEASE IS VALID FOR 6 MONTHS FROM THE DATE OF SIGNATURE.
                </div>
            </div>
        </div>
    </div>
</section>