{{#with MedicalRecord}}
<section class="frow" id="referal-form">
  <div class="container-padding width-100">
    <div class="container centered mb-20">
      {{>formTitle ..}}
    </div>

    <div class="mds p-10 mb-10 mb-20 ba">
      <div class="frow">
        {{!-- {{#each doctors}} --}}
        <div class="checkbox-container col-6-12">
          <span class="md-id fz-18"><strong>{{@root.AppointmentDetails.OperatorDataMD.pyUserName}}</strong></span>
        </div>
        {{!-- {{/each}} --}}
        <div class="md-id-container col-3-6 fz-18">
          <span class="md-id"><strong>NPI ID: {{@root.AppointmentDetails.OperatorDataMD.NPIID}}</strong></span>
        </div>
      </div>
      <!-- <pega:forEach name="Doctors.pxResults">
        <div class="md-name">
          <div class="checkbox-container">

            <input type="checkbox" name="doctor-name"  <pega:when java=<% tools.getProperty("DoctorsValues.pxResults").
            contain("$THIS.pyDoctorName") %>>
            checked
            </pega:when> />
            <label for="doctor-name"
              ><pega:reference name="$THIS.pyDoctorName"
            /></label>
          </div>
          <div class="md-id-container">
            <span class="md-id"
              ><pega:reference name="$THIS.pyDoctorID"
            /></span>
          </div></div
      ></pega:forEach> -->
    </div>
    <div class="agency p-10 mb-10 mb-20 ba">
      <div class="frow">
        <div class="item col-6-6 mt-10 fz-18">
          <span class="label">Name of Agency : </span>
          <span class="value text-bold">{{@root.ReferralAgencyEmbed.ReferralAgencyName}}</span>
        </div>
        <div class="item col-6-6 mt-30 fz-20">

              <div class="frow justify-start fz-15">

              <div class="col-1-8">
               Home Health Service
              </div>
              {{#each (mapCheckedItems HomeHealthServiceEmbed  HomeHealthService)}}
              <div class="col-1-8">
                {{> checkbox IsChecked=IsChecked name=Name}}                
              </div>
              {{/each}}
            </div>
        </div>
        <div class="item col-6-6"></div>
        <div class="item col-6-6 mt-30 fz-20">
            <div class="frow justify-start fz-15">
              <div class="col-1-8">
               Treatment
              </div>
              {{#each (mapCheckedItems TreatmentEmbed Treatment)}}
              <div class="col-1-8">
                {{> checkbox IsChecked=IsChecked name=Name}}                
              </div>
              {{/each}}
            </div>
      </div>
    </div>
    <div class="labs p-10 mb-10 ba">
      <div class="lab-info">
        <div class="frow justify-start">
          <div class="item col-6-6 mb-10 fz-18">
            <span class="label">Lab(s) </span>
            <span class="value">_________</span>
          </div>
          {{#each  (mapCheckedItems LabsEmbed  Labs)}}
            <div class="item col-3-6 mt-5 mb-5 fz-18" style="width: 50%">
              {{> checkbox name=Name IsChecked=IsChecked}}
            </div>
          {{/each}}  
            <div class="item col-6-6 mb-10 fz-18"> 

             <span class="label"> Dx-Lab(s) </span>
            <span class="value">_________</span>
            </div>
            {{#each  (mapCheckedItems DxLabsEmbed  DxLabs)}}
            <div class="item col-3-6 mt-5 mb-5 fz-18" style="width: 50%">
              {{> checkbox name=Name IsChecked=IsChecked}}
            </div>
          {{/each}}                  
            <div class="cb fz-18">
              {{> checkbox IsChecked=OtherLabsBool name='Others:' }} 
              <span class="text-bold p-5 margin-remover">{{{OtherLabsTextbox}}}</span>                    
            </div>
          </div>

        </div>
      </div>
    
    <div class="mt-50">{{> doubleSignatures}}</div>      
    <div class="frow justify-center text-bold mt-70 fz-20">
      This form expires in 60 days from the date dated above
    </div> 
  </div>
</section>
{{/with}}