{{#if (getSignatureUrl @root name)}}
  <img
    class="signature-img"
    src="{{getSignatureUrl @root name}}"
    alt="{{name}}_signatures"
  />
{{else}}
  <span class="text-italic text-grey">Not signed by {{name}}</span>

{{/if}}