<div
  style="font-size:10px; display:flex; justify-content: space-between; align-items: flex-end; width: calc(100% - 40px); margin: 5px 20px; color: #666"
>
  <div style="flex: 1 1 33%;">
    <span>
      <b>Patient Name:</b>
      {{SelectedPatientData.pyFullName}}
      --
      {{SelectedPatientData.PatAccountID}}
    </span>
  </div>

  <div style="flex: 1 1 33%; text-align: center;">
    <span>{{OfficeName}}</span>
  </div>

  <div style="flex: 1 1 33%; text-align: end">
    <span class="pageNumber"></span>
    /
    <span class="totalPages"></span>
  </div>
</div>