<div
  style="font-size:10px; display:flex; justify-content: space-between; align-items: flex-end; width: calc(100% - 40px); margin: 5px 20px; color: #666">
  <div style="flex: 1 1 100%; text-align: start">
    <span>{{pyID}}</span>
  </div>
  <div style="flex: 1 1 100%; text-align: end">
    <span class="pageNumber"></span>
    /
    <span class="totalPages"></span>
  </div>
</div>