.header {
  .patient-name {
    font-size: 1.5em;
    font-weight: bold;
  }
  .patient-dob {
    font-size: 1em;
  }
  .date-of-hs {
    font-size: 1em;
  }
}
.cad-forms {
  // Create each section as a card with box-shadow with min-height of a screen.
  background-color: #333;
  section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 10px;
    min-height: 100vh;
  }

  .signature-img {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }

  h2 {
    text-transform: uppercase;
  }
  label {
    padding-left: 5px;
  }
  label {
    text-transform: capitalize;
  }
  .cb-table {
    height: 40px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    border: 1px solid #ddd;
  }
  // #referal-form {
  // }
  .margin-remover{
    p{
      margin: 0;
    }
    ul{
      margin: 0;
    }
  }

  #initial-assesment{
    .cb {
      padding: 0 !important;
    }
  }

  .cb {
    display: flex;
    align-items: center;
    padding: 1px;

    input[type="checkbox"] {
      background-color: var(--form-background);
      margin: 0;
      font: inherit;
      width: 1.15em;
      min-width: 1.15em;
      height: 1.15em;
      border: 0.05em solid currentColor;
      border-radius: 0.15em;

      &.black {
        display: flex;
        align-items: center;
        color: currentColor;
        appearance: none;

        &::before {
          content: "";
          clip-path: polygon(
            22% 50%,
            40% 63%,
            80% 19%,
            86% 24%,
            46% 77%,
            11% 66%
          );
          transform-origin: bottom left;
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em var(--form-control-color);
          /* Windows High Contrast Mode */
          background-color: CanvasText;
        }
      }

      &::before {
        width: 1.5em;
        height: 1.5em;
        transform: scale(0);
      }
      &:checked::before {
        transform: scale(1);
      }
      &:disabled {
        --form-control-color: var(--form-control-disabled);

        color: var(--form-control-disabled);
        cursor: not-allowed;
      }
    }
  }
}
